[Unit]
Description=Run the registry.slovendor.com docker registry
After=network-online.target docker.socket containerd.service

[Service]
Type=simple
RemainAfterExit=1
ExecStart=/registry/run.sh
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target