[submodule "db"]
	path = db
	url = ../db.git
	branch = add-generation-script
[submodule "passthru"]
	path = passthru
	url = ../passthru
[submodule "provisioner"]
	path = provisioner
	url = ../provisioner
[submodule "scheduler"]
	path = scheduler
	url = ../scheduler
