[submodule "db"]
	path = db
	url = ../db.git
	branch = add-generation-script
[submodule "passthru"]
	path = passthru
	url = ../passthru.git
[submodule "provisioner"]
	path = provisioner
	url = ../provisioner.git
[submodule "scheduler"]
	path = scheduler
	url = ../scheduler.git
