[submodule "db"]
	path = db
	url = git@gitlab.slovendor.com:vps/db.git
	branch = add-generation-script
[submodule "passthru"]
	path = passthru
	url = git@gitlab.slovendor.com:vps/passthru
[submodule "provisioner"]
	path = provisioner
	url = git@gitlab.slovendor.com:vps/provisioner.git
[submodule "scheduler"]
	path = scheduler
	url = git@gitlab.slovendor.com:VPS/scheduler.git
