{% extends 'base.html' %}

<style>
.input-group-prepend {
  width : 35%; /*adjust as needed*/
}

.input-group-prepend label {
  width: 100%;
  overflow: hidden;
}

</style>
{% block content %}
<h2>{{ title }}</h2>
<form action="{{ url_for("submit") }}" method = "post" enctype="multipart/form-data">
    {% for name, label in labels.items() %}
    <div class="col-md-6">
<div class="input-group lg">
    {% if loop.index == 1 %}
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg" style="display: block">{{ label }}</span>
        </div>
            <td>
                <input type="text" class="form-control" id="{{  name }}" placeholder="{{ next_id }}" readonly style="font-weight: bold"></input>
            </td>
        </div>

    {% elif name == "customer_id" %}
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg" style="display: block">Customer Name</span>
          </div>
            <td>
                <select class="form-control">
                    {% for customer_name in customer_names %}
                  <option>{{ customer_name }}</option>
                    {% endfor %}
                </select>
            </td>
            {% else %}
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg" style="display: block">{{ label }}</span>
                </div>
                {% if name in readonly_fields and action == "modify" %}
                    <input type="text" class="form-control" id="{{  name }}" placeholder="{{ values[name] }}" readonly style="font-weight: bold"></input>
                {% else %}
              <input type="text" name="{{ name }}" class="form-control" id="{{ name }}" aria-describedby="{{ name }}" {%- if values -%}value="{{ values[name] }}"{% endif %}%}>
                {% endif %}
            {% endif %}
</div>
    </div>
  {% endfor %}
<input type="hidden" name="action" value="{{ action }}">
<input type="hidden" name="context" value="{{ context }}">
<input type="hidden" name="id" value="{{ id  }}">
<button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>


{% endblock %}