{% extends 'base.html' %}

{% block content %}
<div style="padding:0 16px">
  <h3>Customers:  </h3>
    <button type="button" class="btn btn-outline-primary">
        <span class="glyphicon glyphicon-plus">
            <a href="{{ url_for('add', context = 'customers') }}">Add Customer</a>
        </span>
    </button>
 <input type="text" id="search_bar" onkeyup="filterFunc()" placeholder="Search...">
 <table id="objects_table">
     <tr>
         <th>Select</th>
         {% for key in keys %}
         <th>{{ labels[key] }}</th>
         {% endfor %}
     </tr>
     {% for customer in customers %}
     <tr>
         <td>
             <div class="form-check">
                 <div class="dropdown">
                      <button onclick="customerDropdown({{ customer['customer_id'] }})" class="dropbtn"> <span class="glyphicon glyphicon-collapse-down"></span> Manage</button>
                      <div id="dropdown-{{ customer['customer_id'] }}" class="dropdown-content">
                        <a href="#sms">Send SMS</a>
                        <a href="#email">Send Email</a>
                        <a href="#notification">Set Notification</a>
                        <a href="{{ url_for('modify', context='customers', id=customer['customer_id']) }}">Edit</a>
                        <a href="{{ url_for('delete', context='customers', id=customer['customer_id']) }}">Delete</a>
                      </div>
                    </div>
            </div>
         </td>
        {% for value in customer.values() %}
        <td>{{ value }}</td>
        {% endfor %}
     </tr>
     {% endfor %}
 </table>
</div>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function customerDropdown(customerId) {
  document.getElementById("dropdown-" + customerId).classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

function filterFunc() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("search_bar");
  console.log("Got input");
  console.log(input);
  filter = input.value.toUpperCase();
  table = document.getElementById("objects_table");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
      for (x = 2; x <= 3; x++) {
          td = tr[i].getElementsByTagName("td")[x];
        if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
  }
}
</script>
{% endblock %}

