{% extends 'base.html' %}

{% block content %}
<div style="padding:0 16px">
  <h3>Products:  </h3>
    <button type="button" class="btn btn-outline-primary">
        <span class="glyphicon glyphicon-plus">
            <a href="{{ url_for('add', context = 'products') }}">Add Product</a>
        </span>
    </button>
 <table>
     <tr>
         <th>Select</th>
         {% for key in keys %}
         <th>{{ key }}</th>
         {% endfor %}
     </tr>
     {% for product in products %}
     <tr>
         <td>
             <div class="form-check">
                 <div class="dropdown">
                      <button onclick="productDropdown({{ product['product_id'] }})" class="dropbtn">
                          <span class="glyphicon glyphicon-collapse-down">
                              Manage
                          </span>
                      </button>
                      <div id="dropdown-{{ product['product_id'] }}" class="dropdown-content">
                          <a href="#email">Send Email About Product</a>
                          <a href="#notification">Set Notification for Product</a>
                          <a href="{{ url_for('modify', context='products', id=product['product_id']) }}">Edit Product</a>
                          <a href="{{ url_for('delete', context='products', id=product['product_id']) }}">Delete Product</a>
                      </div>
                    </div>
            </div>
         </td>
        {% for key, value in product.items() %}
        <td>{{ value }}</td>
        {% endfor %}
     </tr>
     {% endfor %}
 </table>
</div>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function productDropdown(productId) {
  document.getElementById("dropdown-" + productId).classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
{% endblock %}

